{% load invoice_extras %}

{% for point, energy_direction, data in metering_data %}
  <section class="mainSection">
    <h2>Detailaufstellung zu Rechnung Nr. {{ invoice_number }}</h2>
    <div class="invoiceDetails-header">
      <div class="row">
        <div class="col-md-4 col-lg-2">
          Kundenanlage:
        </div>
        <div class="col">
          <strong class="val">{{ point.name }}</strong>
        </div>
      </div>
      {% if customer.customer_id %}
        <div class="row">
          <div class="col-md-4 col-lg-2">
            Kund:innen-Nummer:
          </div>
          <div class="col">
            <span class="val">{{ customer.customer_id }}</span>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-md-4 col-lg-2">
          Zählpunkt:
        </div>
        <div class="col">
          <span class="val">{{ point.point_id }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-2">
          Typ:
        </div>
        <div class="col">
          <span class="val">
            {% if energy_direction == "CONSUMPTION" %}
            Verbraucher{% else %}Erzeuger
            {% endif %}</span>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">Zeitraum</th>
          <th scope="col" class="align-r">
            <span title="local_quantity">
              {% if energy_direction == "CONSUMPTION" %}
              Verbrauch{% else %}Erzeugung
              {% endif %}</span>
            {% if "local_availability" in data %}
              <small title="local_availability">/ Verfügbar</small>
            {% endif %}
          </th>
          <th scope="col" class="text-justify">Einheit</th>
          <th scope="col"
              class="text-right">
            <span title="local_prices_agg">
              Einzelpreis in €</span>
          </th>
          <th scope="col"
              class="text-right">
            Betrag in €</th>
        </tr>
      </thead>
      <tbody>
        {% for index, row in data.iterrows %}
        <tr>
          <th scope="row">{{ index|date:"SHORT_DATE_FORMAT" }} - {{ index|end_of_month|date:"SHORT_DATE_FORMAT" }}</th>{#  #}
          <td class="align-r">
            <span title="local_quantity">{{ row.local_quantity|floatformat:3 }}</span>
            {% if row.local_availability %}
            <small title="local_availability">/ {{ row.local_availability|floatformat:3 }}</small>
            {% endif %}
          </td>
          <td class="text-justify">kWh</td>
          <td title="local_prices_agg"
              class="text-right">
            {{ row.local_prices_agg|floatformat:3 }}
          </td>
          <td class="text-right">
            {{ row.local_costs|floatformat:2 }}
          </td>

        </tr>
        {% endfor %}
        <tr class="text-light bg-dark">
          <th scope="row">Gesamt</th>
          <th scope="col" class="align-r">
            <span title="local_quantity">{{ data.local_quantity.sum|floatformat:3 }}</span>
            {% if "local_availability" in data %}
            <small title="local_availability">/ {{ data.local_availability.sum|floatformat:3 }}</small>
            {% endif %}
          </th>
          <th scope="col" class="text-justify">kWh</th>
          <th scope="col" title="local_prices_agg"
              class="text-right">
            {{ data.local_costs.sum|math_division:data.local_quantity.sum|floatformat:3 }}
          </th>
          <th scope="col" class="text-right">
            {{ data.local_costs.sum|floatformat:2 }}
          </th>
        </tr>
      </tbody>
    </table>
  </section>
{% endfor %}
