<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>
    <div>
      {{ sender.name }} {{ sender.address.short }}
    </div>

    <div>
      {{ customer.name }}<br>
      {{ customer.address.line }}<br>
      {{ customer.address.post_city }}
    </div>

    <div>
      So erreichen Sie uns<br>
      <br>
      <ul>
        <li>E-Mail: {{ sender.email }}</li>
        <li>Tel: {{ sender.phone }}</li>
      </ul>
    </div>

    <div>
      <strong>Ihre Rechnungsdaten</strong>
      <ul>
        {% if customer.customer_id %}<li>Kund:innen-Nummer: {{ customer.customer_id }}</li>{% endif %}
        {% if invoice_number %}<li>Rechnungsnummer: {{ invoice_number }}</li> {% endif %}
        <li>Rechnungsdatum: {{ invoice_date|date:"SHORT_DATE_FORMAT"}}</li>
      </ul>
    </div>

    <section>
      <h1>Abrechnung - Strom</h1>
      {% for point, data in metering_data %}
        Anlagenadresse: {{ point.name }}<br>
        Abrechnungszeitraum: {{ starts_at|date:"SHORT_DATE_FORMAT" }} - {{ stops_at|date:"SHORT_DATE_FORMAT" }}<br>
        Stromverbrauch aus EEG: {{ data.local_consumption.sum|floatformat:2 }} kWh
        <small>(Stromverbrauch Gesamt: {{ data.total_consumption.sum|floatformat:2 }} kWh)</small>

        {% if data.price %} {# TODO #}
        Energiekosten: {{ data.price|floatformat:2 }}
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}

      {% if total_pricing_data %}
        <br><br>
        Ihre Gesamtkosten: {{ total_pricing_data }}
      {% endif %}
    </section>

    {% for point, data in metering_data %}
      <section>
        <h2>Detailaufstellung zu Rechnung Nr. 1234567890123</h2>
        <ul>
          <li>Kundenanlage: {{ point.name }}</li>
          {% if customer.customer_id %}<li>Kund:innen-Nummer: {{ customer.customer_id }}</li>{% endif %}
          <li>Zählpunkt: {{ point.point_id }}</li>
        </ul>

        <table>
          <tr><td></td></tr>
        </table>
      </section>
    {% endfor %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../static/js/vendor/jquery-slim.min.js"><\/script>')</script>
  </body>
</html>
