{% load invoice_extras %}<!doctype html>
<html lang="de">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EDA Invoices</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
      .mainSection { margin-top: 2rem; margin-bottom: 4rem; }

      .list-spaced > li {
        padding: 0.25rem 0.5rem;
        margin: 0.25rem -0.5rem 0;
      }

      .val { padding-left: .5em;}

      .senderAddress { font-size: .75rem; }
      .invoiceHead { margin: 1rem 0;}
      .meteringDataOverview { margin-top: 2rem; }
      .invoiceDetails-header { margin: 1rem 0 2rem; }
    </style>
  </head>

  <body>
    <div class="container">
      <section class="senderSection
                      row justify-content-md-center">
        <div class="senderAddress invoiceHead
                    col-lg-4">
          {{ sender.name }}<br/>
          {{ sender.address.short }}
        </div>
        <div class="col-lg">&nbsp;</div>
        <div class="col-lg-4 invoiceHead">
          <strong>So erreichen Sie uns</strong><br>
          <ul class="list-unstyled list-spaced">
            <li class="text-light bg-dark"><strong>E-Mail: <span class="val">{{ sender.email }}</span></strong></li>
            <li>Tel: {{ sender.phone }}</li>
          </ul>
        </div>
      </section>

      <section id="customerSection" class="row justify-content-md-center">
        <div class="col-lg-4 invoiceHead">
          {{ customer.name }}<br>
          {{ customer.address.line }}<br>
          {{ customer.address.post_city }}
        </div>
        <div class="col-lg">&nbsp;</div>
        <div class="col-lg-4 invoiceHead">
          <strong>Ihre Rechnungsdaten</strong>
          <ul class="list-unstyled
                     invoiceHead">
            {% if customer.customer_id %}<li>Kund:innen-Nummer: <span class="val">{{ customer.customer_id }}</span></li>{% endif %}
            {% if invoice_number %}<li>Rechnungsnummer: <span class="val">{{ invoice_number }}</span></li> {% endif %}
            <li>Rechnungsdatum: <span class="val">{{ invoice_date|date:"SHORT_DATE_FORMAT"}}</span></li>
          </ul>
        </div>
      </section>
    </div>

    <div class="container">
      <section class="mainSection">
        <h1>Abrechnung - EEG Strom</h1>
        <ul class="list-unstyled list-spaced
                   meteringDataOverview">
          <li>
            Abrechnungszeitraum:
            <span class="val">{{ starts_at|date:"SHORT_DATE_FORMAT" }} - {{ stops_at|date:"SHORT_DATE_FORMAT" }}</span></li>
        </ul>

        {% for point, energy_direction, data in metering_data %}
        <ul class="list-unstyled list-spaced
                   meteringDataOverview">
          <li>
            Anlagenadresse:
            <span class="val">{{ point.name }}</span></li>
          {% if energy_direction == 'CONSUMPTION' %}
            <li>
              Stromverbrauch:
              <span class="val">{{ data.local_quantity.sum|floatformat:2 }} kWh</span>

              {% if data.total_consumption.sum %}
              <small>/ Stromverbrauch Gesamt:
                <span class="val">{{ data.total_consumption.sum|floatformat:2 }} kWh</span></small>
              {% endif %}
            </li>

            {% if "local_prices_agg" in data.columns %}
              <li class="text-light bg-dark">
                <strong>
                  Energiekosten:
                  <span class="val">{{ data.local_costs.sum|floatformat:2 }} Euro</span></strong>
              </li>
            {% endif %}
          {% else %}
            <li>
              Stromerzeugung:
              <span class="val">{{ data.local_quantity.sum|floatformat:2 }} kWh</span>
            </li>
            {% if "local_prices_agg" in data.columns %}
              <li class="text-light bg-dark">
                <strong>
                  Gewinn durch Energieproduktion:
                  <span class="val">{{ data.local_costs.sum|floatformat:2 }} Euro</span></strong>
              </li>
            {% endif %}
          {% endif %}
        </ul>
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}

        {% if total_pricing_data %}
          <br><br>
          Ihre Gesamtkosten: {{ total_pricing_data }} Euro
        {% endif %}
      </section>

      {% for point, energy_direction, data in metering_data %}
        <section class="mainSection">
          <h2>Detailaufstellung zu Rechnung Nr. {{ invoice_number }}</h2>
          <div class="invoiceDetails-header">
            <div class="row">
              <div class="col-md-4 col-lg-2">
                Kundenanlage:
              </div>
              <div class="col">
                <strong class="val">{{ point.name }}</strong>
              </div>
            </div>
            {% if customer.customer_id %}
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  Kund:innen-Nummer:
                </div>
                <div class="col">
                  <span class="val">{{ customer.customer_id }}</span>
                </div>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-md-4 col-lg-2">
                Zählpunkt:
              </div>
              <div class="col">
                <span class="val">{{ point.point_id }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-lg-2">
                Typ:
              </div>
              <div class="col">
                <span class="val">
                  {% if energy_direction == "CONSUMPTION" %}
                  Verbraucher{% else %}Erzeuger
                  {% endif %}</span>
              </div>
            </div>
          </div>

          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Zeitraum</th>
                <th scope="col" class="align-r">
                  <span title="local_quantity">
                    {% if energy_direction == "CONSUMPTION" %}
                    Verbrauch{% else %}Erzeugung
                    {% endif %}</span>
                  {% if "local_availability" in data %}
                    <small title="local_availability">/ Verfügbar</small>
                  {% endif %}
                </th>
                <th scope="col" class="text-justify">Einheit</th>
                <th scope="col"
                    class="text-right">
                  <span title="local_prices_agg">
                    Einzelpreis in €</span>
                </th>
                <th scope="col"
                    class="text-right">
                  Betrag in €</th>
              </tr>
            </thead>
            <tbody>
              {% for index, row in data.iterrows %}
              <tr>
                <th scope="row">{{ index|date:"SHORT_DATE_FORMAT" }} - {{ index|end_of_month|date:"SHORT_DATE_FORMAT" }}</th>{#  #}
                <td class="align-r">
                  <span title="local_quantity">{{ row.local_quantity|floatformat:3 }}</span>
                  {% if row.local_availability %}
                  <small title="local_availability">/ {{ row.local_availability|floatformat:3 }}</small>
                  {% endif %}
                </td>
                <td class="text-justify">kWh</td>
                <td title="local_prices_agg"
                    class="text-right">
                  {{ row.local_prices_agg|floatformat:3 }}
                </td>
                <td class="text-right">
                  {{ row.local_costs|floatformat:2 }}
                </td>

              </tr>
              {% endfor %}
              <tr class="text-light bg-dark">
                <th scope="row">Gesamt</th>
                <th scope="col" class="align-r">
                  <span title="local_quantity">{{ data.local_quantity.sum|floatformat:3 }}</span>
                  {% if "local_availability" in data %}
                  <small title="local_availability">/ {{ data.local_availability.sum|floatformat:3 }}</small>
                  {% endif %}
                </th>
                <th scope="col" class="text-justify">kWh</th>
                <th scope="col" title="local_prices_agg"
                    class="text-right">
                  {{ data.local_costs.sum|math_division:data.local_quantity.sum|floatformat:3 }}
                </th>
                <th scope="col" class="text-right">
                  {{ data.local_costs.sum|floatformat:2 }}
                </th>
              </tr>
            </tbody>
          </table>
        </section>
      {% endfor %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../static/js/vendor/jquery-slim.min.js"><\/script>')</script>
  </body>
</html>
